<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Walnut Mountain Fire Danger Rating</title>
    <link rel="stylesheet" type="text/css" href="site.css" />
</head>

<body class="{{ cssClass }}">
    <div>
        Fire Danger: {{ rating }}
    </div>
</body>

<script>
    setTimeout(() => {
        window.location.reload(true);
    }, 14400000);
</script>

</html>