body {
    overflow: hidden;
    font-size: 72pt;
}

div {
    position: absolute;
    left: 50%;
    top: 50%;
    white-space: nowrap;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}

.low {
    font-size: 12vw;
    color: white;
    background-color: green;
}

.moderate {
    color: black;
    background-color: yellow; 
    font-size: 9vw;
}

.high {
    color: black;
    background-color: orange; 
    font-size: 12vw;
}

.upperhigh, .lowerhigh {
    color: black;
    background-color: orange; 
    font-size: 9vw;
}

.veryhigh {
    color: black;
    background-color: red; 
    font-size: 9vw;
}

.extreme {
    color: white;
    background-color: darkred; 
    font-size: 10vw;
}